<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="sqlDB" connectionString="Server=DESKTOP-PQQ036Q; Database=PayrollSystemDB; User Id=sa; password=12345678;Max Pool Size=2000;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Threshold" value="4000"/>
  </appSettings>
</configuration>