USE [TicketSystemDB]
GO
/****** Object:  StoredProcedure [dbo].[Ticket_Update]    Script Date: 3/07/2026 12:26:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[Ticket_Update] 
	-- Add the parameters for the stored procedure here
	@Id					INT,
	@TicketCode	 		VARCHAR(20),
	@EventId	 		INT,
	@ReservationId	 	INT,
	@Status	 			INT,
	@Price	 			DECIMAL(18,2),
	@SeatNumber	 		VARCHAR(20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE	TICKET
	SET		TicketCode = @TicketCode,
			EventId = @EventId,
			ReservationId = @ReservationId,
			Status = @Status,
			Price = @Price,
			SeatNumber = @SeatNumber
	WHERE	Id = @Id
END
