USE [TicketSystemDB]
GO
/****** Object:  StoredProcedure [dbo].[Ticket_Insert]    Script Date: 3/07/2026 12:26:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[Ticket_Insert] 
	-- Add the parameters for the stored procedure here
	@TicketCode	 		VARCHAR(20),
	@EventId	 		INT,
	@ReservationId	 	INT,
	@Status	 			INT,
	@Price	 			DECIMAL(18,2),
	@SeatNumber	 		VARCHAR(20),
	@CreatedAt	 		DATE

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO TICKET
	(
		TicketCode,
		EventId,
		ReservationId,
		Status,
		Price,
		SeatNumber,
		CreatedAt
	)
	VALUES
	(
		@TicketCode,
		@EventId,
		@ReservationId,
		@Status,
		@Price,
		@SeatNumber,
		@CreatedAt
	)

	SELECT SCOPE_IDENTITY();
END
