USE [TicketSystemDB]
GO
/****** Object:  StoredProcedure [dbo].[Tickets_GetAll]    Script Date: 3/07/2026 12:26:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[Tickets_GetAll] 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT	Id,
			TicketCode,
			EventId,
			ReservationId,
			Status,
			Price,
			SeatNumber,
			CreatedAt
	FROM	TICKET
END
