USE [TicketSystemDB]
GO
/****** Object:  StoredProcedure [dbo].[Ticket_ExistsById]    Script Date: 3/07/2026 12:25:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[Ticket_ExistsById] 
	-- Add the parameters for the stored procedure here
	@Id INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF EXISTS (SELECT 1 FROM TICKET WHERE Id = @Id)
		SELECT 1
	ELSE
		SELECT 0

END
