USE [TicketSystemDB]
GO
/****** Object:  Table [dbo].[APPUSER]    Script Date: 3/07/2026 12:52:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPUSER](
	[Id] [int] NOT NULL,
	[UserCode] [varchar](20) NULL,
	[Name] [varchar](100) NULL,
	[Email] [varchar](100) NULL,
	[PhoneNumber] [varchar](20) NULL,
	[CreatedAt] [date] NULL,
	[IsActive] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EVENT]    Script Date: 3/07/2026 12:52:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENT](
	[Id] [int] NOT NULL,
	[EventCode] [varchar](20) NULL,
	[Name] [varchar](50) NULL,
	[Description] [varchar](200) NULL,
	[EventDate] [date] NULL,
	[Venue] [varchar](50) NULL,
	[TotalTickets] [int] NULL,
	[AvailableTickets] [int] NULL,
	[BasePrice] [decimal](18, 2) NULL,
	[CreatedAt] [date] NULL,
	[IsActive] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESERVATION]    Script Date: 3/07/2026 12:52:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESERVATION](
	[Id] [int] NOT NULL,
	[ReservationCode] [varchar](20) NULL,
	[UserId] [int] NULL,
	[EventId] [int] NULL,
	[SalesChannelId] [int] NULL,
	[TicketQuantity] [int] NULL,
	[TotalAmount] [decimal](18, 2) NULL,
	[Status] [int] NULL,
	[ReservedAt] [date] NULL,
	[ExpiresAt] [date] NULL,
	[ConfirmedAt] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALESCHANNEL]    Script Date: 3/07/2026 12:52:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALESCHANNEL](
	[Id] [int] NOT NULL,
	[ChannelCode] [varchar](20) NULL,
	[Name] [varchar](50) NULL,
	[Type] [int] NULL,
	[ApiKey] [varchar](50) NULL,
	[IsActive] [int] NULL,
	[CreatedAt] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TICKET]    Script Date: 3/07/2026 12:52:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TICKET](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TicketCode] [varchar](20) NULL,
	[EventId] [int] NULL,
	[ReservationId] [int] NULL,
	[Status] [int] NULL,
	[Price] [decimal](18, 2) NULL,
	[SeatNumber] [varchar](20) NULL,
	[CreatedAt] [date] NULL,
 CONSTRAINT [PK__TICKET__3214EC0791814DC5] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[APPUSER] ([Id], [UserCode], [Name], [Email], [PhoneNumber], [CreatedAt], [IsActive]) VALUES (1, N'USER1', N'User 1', N'user1@tickets.com', N'410006696', CAST(N'2026-07-02' AS Date), 1)
GO
INSERT [dbo].[EVENT] ([Id], [EventCode], [Name], [Description], [EventDate], [Venue], [TotalTickets], [AvailableTickets], [BasePrice], [CreatedAt], [IsActive]) VALUES (1, N'ABC454', N'Concierto', N'Concierto No. 1', CAST(N'2026-08-23' AS Date), N'Movistar Arena', 2000, 100, CAST(25000.00 AS Decimal(18, 2)), CAST(N'2026-07-02' AS Date), 1)
GO
INSERT [dbo].[RESERVATION] ([Id], [ReservationCode], [UserId], [EventId], [SalesChannelId], [TicketQuantity], [TotalAmount], [Status], [ReservedAt], [ExpiresAt], [ConfirmedAt]) VALUES (1, N'UYOO9009889', 1, 1, 1, 4, CAST(2000.00 AS Decimal(18, 2)), 2, CAST(N'2026-07-02' AS Date), CAST(N'2026-08-31' AS Date), CAST(N'2026-07-02' AS Date))
GO
INSERT [dbo].[SALESCHANNEL] ([Id], [ChannelCode], [Name], [Type], [ApiKey], [IsActive], [CreatedAt]) VALUES (1, N'001', N'Portal Web FunEvents', 1, N'ABC123', 1, CAST(N'2026-07-02' AS Date))
GO
SET IDENTITY_INSERT [dbo].[TICKET] ON 

INSERT [dbo].[TICKET] ([Id], [TicketCode], [EventId], [ReservationId], [Status], [Price], [SeatNumber], [CreatedAt]) VALUES (3, N'ABC1234', 1, 1, 2, CAST(47.00 AS Decimal(18, 2)), N'C1', CAST(N'2026-07-02' AS Date))
INSERT [dbo].[TICKET] ([Id], [TicketCode], [EventId], [ReservationId], [Status], [Price], [SeatNumber], [CreatedAt]) VALUES (4, N'UOIR899', 1, 1, 3, CAST(24.00 AS Decimal(18, 2)), N'1', CAST(N'2026-07-02' AS Date))
INSERT [dbo].[TICKET] ([Id], [TicketCode], [EventId], [ReservationId], [Status], [Price], [SeatNumber], [CreatedAt]) VALUES (1003, N'MDR754', 1, 1, 4, CAST(23.40 AS Decimal(18, 2)), N'D8', CAST(N'2026-06-22' AS Date))
SET IDENTITY_INSERT [dbo].[TICKET] OFF
GO
ALTER TABLE [dbo].[RESERVATION]  WITH CHECK ADD FOREIGN KEY([EventId])
REFERENCES [dbo].[EVENT] ([Id])
GO
ALTER TABLE [dbo].[RESERVATION]  WITH CHECK ADD FOREIGN KEY([SalesChannelId])
REFERENCES [dbo].[SALESCHANNEL] ([Id])
GO
ALTER TABLE [dbo].[RESERVATION]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[APPUSER] ([Id])
GO
ALTER TABLE [dbo].[TICKET]  WITH CHECK ADD  CONSTRAINT [FK__TICKET__EventId__4222D4EF] FOREIGN KEY([EventId])
REFERENCES [dbo].[EVENT] ([Id])
GO
ALTER TABLE [dbo].[TICKET] CHECK CONSTRAINT [FK__TICKET__EventId__4222D4EF]
GO
ALTER TABLE [dbo].[TICKET]  WITH CHECK ADD  CONSTRAINT [FK__TICKET__Reservat__4316F928] FOREIGN KEY([ReservationId])
REFERENCES [dbo].[RESERVATION] ([Id])
GO
ALTER TABLE [dbo].[TICKET] CHECK CONSTRAINT [FK__TICKET__Reservat__4316F928]
GO
/****** Object:  StoredProcedure [dbo].[Ticket_DeleteById]    Script Date: 3/07/2026 12:52:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Ticket_DeleteById] 
	-- Add the parameters for the stored procedure here
	@Id	INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE
	FROM	TICKET
	WHERE	Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[Ticket_ExistsById]    Script Date: 3/07/2026 12:52:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Ticket_ExistsById] 
	-- Add the parameters for the stored procedure here
	@Id INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF EXISTS (SELECT 1 FROM TICKET WHERE Id = @Id)
		SELECT 1
	ELSE
		SELECT 0

END
GO
/****** Object:  StoredProcedure [dbo].[Ticket_GetById]    Script Date: 3/07/2026 12:52:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Ticket_GetById] 
	-- Add the parameters for the stored procedure here
	@Id INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT	Id,
			TicketCode,
			EventId,
			ReservationId,
			Status,
			Price,
			SeatNumber,
			CreatedAt 
	FROM	TICKET 
	WHERE	Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[Ticket_Insert]    Script Date: 3/07/2026 12:52:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Ticket_Insert] 
	-- Add the parameters for the stored procedure here
	@TicketCode	 		VARCHAR(20),
	@EventId	 		INT,
	@ReservationId	 	INT,
	@Status	 			INT,
	@Price	 			DECIMAL(18,2),
	@SeatNumber	 		VARCHAR(20),
	@CreatedAt	 		DATE

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO TICKET
	(
		TicketCode,
		EventId,
		ReservationId,
		Status,
		Price,
		SeatNumber,
		CreatedAt
	)
	VALUES
	(
		@TicketCode,
		@EventId,
		@ReservationId,
		@Status,
		@Price,
		@SeatNumber,
		@CreatedAt
	)

	SELECT SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[Ticket_Update]    Script Date: 3/07/2026 12:52:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Ticket_Update] 
	-- Add the parameters for the stored procedure here
	@Id					INT,
	@TicketCode	 		VARCHAR(20),
	@EventId	 		INT,
	@ReservationId	 	INT,
	@Status	 			INT,
	@Price	 			DECIMAL(18,2),
	@SeatNumber	 		VARCHAR(20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE	TICKET
	SET		TicketCode = @TicketCode,
			EventId = @EventId,
			ReservationId = @ReservationId,
			Status = @Status,
			Price = @Price,
			SeatNumber = @SeatNumber
	WHERE	Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[Tickets_GetAll]    Script Date: 3/07/2026 12:52:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Tickets_GetAll] 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT	Id,
			TicketCode,
			EventId,
			ReservationId,
			Status,
			Price,
			SeatNumber,
			CreatedAt
	FROM	TICKET
END
GO
