USE [TicketSystemDB]
GO
/****** Object:  StoredProcedure [dbo].[Ticket_GetById]    Script Date: 3/07/2026 12:25:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[Ticket_GetById] 
	-- Add the parameters for the stored procedure here
	@Id INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT	Id,
			TicketCode,
			EventId,
			ReservationId,
			Status,
			Price,
			SeatNumber,
			CreatedAt 
	FROM	TICKET 
	WHERE	Id = @Id
END
