@model TicketApp.Models.ReservationViewModel

@{
    ViewData["Title"] = "Crear";
}

<h1>Crear</h1>

<h4>Reserva</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ReservationCode" class="control-label"></label>
                <input asp-for="ReservationCode" class="form-control" />
                <span asp-validation-for="ReservationCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventId" class="control-label"></label>
                <input asp-for="EventId" class="form-control" />
                <span asp-validation-for="EventId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TicketQuantity" class="control-label"></label>
                <input asp-for="TicketQuantity" class="form-control" />
                <span asp-validation-for="TicketQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalAmount" class="control-label"></label>
                <input asp-for="TotalAmount" class="form-control" />
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalesChannelId" class="control-label"></label>
                <input asp-for="SalesChannelId" class="form-control" />
                <span asp-validation-for="SalesChannelId" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="ReservedAt" class="control-label"></label>
                <input asp-for="ReservedAt" class="form-control" />
                <span asp-validation-for="ReservedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpiresAt" class="control-label"></label>
                <input asp-for="ExpiresAt" class="form-control" />
                <span asp-validation-for="ExpiresAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmedAt" class="control-label"></label>
                <input asp-for="ConfirmedAt" class="form-control" />
                <span asp-validation-for="ConfirmedAt" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
