@model TicketApp.Models.TicketViewModel

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Entrada</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="TicketCode" class="control-label"></label>
                <input asp-for="TicketCode" class="form-control" />
                <span asp-validation-for="TicketCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventId" class="control-label"></label>
                <input asp-for="EventId" class="form-control" />
                <span asp-validation-for="EventId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReservationId" class="control-label"></label>
                <input asp-for="ReservationId" class="form-control" />
                <span asp-validation-for="ReservationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeatNumber" class="control-label"></label>
                <input asp-for="SeatNumber" class="form-control" />
                <span asp-validation-for="SeatNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" readonly />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
